# 12-1. datetime 오브젝트

In [3]:
from datetime import datetime

import pandas as pd
import os

In [4]:
print(datetime.now())

2021-10-03 20:24:02.677928

In [6]:
print(datetime(2021, 10, 4))
print(datetime(2021, 10, 4, 12, 59, 59))

2021-10-04 00:00:00
2021-10-04 12:59:59

In [7]:
# 시간계산

t1 = datetime.now()
t2 = datetime(1999, 8, 16)

diff = t1 - t2
print(diff)

8084 days, 20:27:15.745704

In [13]:
# 시계열 데이터 구분 추출

now = datetime.now()
print("now ",now)

print(now.strftime('%Y-%m-%d'))
print(now.strftime('%Y-%m-%d %H:%M:%S'))

now  2021-10-03 20:35:40.498770
2021-10-03
2021-10-03 20:35:40

In [16]:
# datetime 오브젝트에서 날짜 정보 추출

date_series = pd.Series( ['2018-05-16', '2018-05-17', '2018-05-18'])
print(date_series)

d = pd.to_datetime(date_series)
print(d)
print(d[0].year)
print(d[0].day)

0    2018-05-16
1    2018-05-17
2    2018-05-18
dtype: object
0   2018-05-16
1   2018-05-17
2   2018-05-18
dtype: datetime64[ns]
2018
16

## 테슬라 주식 데이터

In [24]:
tesla = pd.read_csv("tesla_stock_quandl.csv", parse_dates=[0])

tesla.head()

In [26]:
tesla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
Date          1949 non-null datetime64[ns]
Open          1949 non-null float64
High          1949 non-null float64
Low           1949 non-null float64
Close         1949 non-null float64
Volume        1949 non-null float64
ExDividend    1949 non-null float64
SplitRatio    1949 non-null float64
AdjOpen       1949 non-null float64
AdjHigh       1949 non-null float64
AdjLow        1949 non-null float64
AdjClose      1949 non-null float64
AdjVolume     1949 non-null float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 198.0 KB

In [28]:
# 2010년 6월 데이터 불린 추출
print(tesla.loc[ (tesla.Date.dt.year == 2010) & (tesla.Date.dt.month == 6)])

           Date   Open     High    Low  Close      Volume  ExDividend  \
1947 2010-06-30  25.79  30.4192  23.30  23.83  17187100.0         0.0
1948 2010-06-29  19.00  25.0000  17.54  23.89  18766300.0         0.0

      SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
1947         1.0    25.79  30.4192   23.30     23.83  17187100.0
1948         1.0    19.00  25.0000   17.54     23.89  18766300.0

In [29]:
# Data 열을 데이터프레임의 Index로 지정
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2010-07-13', '2010-07-12', '2010-07-09', '2010-07-08',
               '2010-07-07', '2010-07-06', '2010-07-02', '2010-07-01',
               '2010-06-30', '2010-06-29'],
              dtype='datetime64[ns]', name='Date', length=1949, freq=None)

In [31]:
print("2015년 데이터 : \n",tesla['2015'].iloc[:5, :5])
print("2010년 6월 데이터 : \n",tesla['2010-06'].iloc[:, :5])

2015년 데이터 :
                  Date    Open     High       Low   Close
Date
2015-12-31 2015-12-31  238.51  243.450  238.3700  240.01
2015-12-30 2015-12-30  236.60  243.634  235.6707  238.09
2015-12-29 2015-12-29  230.06  237.720  229.5470  237.19
2015-12-28 2015-12-28  231.49  231.980  225.5400  228.95
2015-12-24 2015-12-24  230.56  231.880  228.2800  230.57
2010년 6월 데이터 :
                  Date   Open     High    Low  Close
Date
2010-06-30 2010-06-30  25.79  30.4192  23.30  23.83
2010-06-29 2010-06-29  19.00  25.0000  17.54  23.89

In [32]:
# 시간 인덱스 추출
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

            ref_date
Date
2018-03-27 2828 days
2018-03-26 2827 days
2018-03-23 2824 days
2018-03-22 2823 days
2018-03-21 2822 days

In [34]:
tesla.index = tesla['ref_date'] # 새로운 index로 지정
print(tesla.iloc[:5, :5])

                Date    Open    High     Low   Close
ref_date
2828 days 2018-03-27  304.00  304.27  277.18  279.18
2827 days 2018-03-26  307.34  307.59  291.36  304.18
2824 days 2018-03-23  311.25  311.61  300.45  301.54
2823 days 2018-03-22  313.89  318.82  308.18  309.10
2822 days 2018-03-21  310.25  322.44  310.19  316.53